  .side-panel {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
  }

  .icons {
    display: flex;
    gap: 20px;
    justify-content: center; // Center align the icons horizontally
  }
  
  .title {
    font-size: 18px;
    padding-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center; // Center align the title horizontally
  }

  .menu {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: left; // Center align the menu items horizontally
  }

  .menu-item {
    cursor: pointer;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; // Align the menu items vertically
    font-weight: bold;
    text-align: left; // Align the menu items at the left
    color: #ffffff;

    &:hover {
      background-color: #374151;
      border-radius: 10px;
    }
  }
  
    .button-title {
      display: flex;
      width: 100%;
    }

  .menu-item img {
    max-width: 10%;
    margin-right: 10px;
  }

  .menu-item.selected {
    background-color: #374151;
    border-radius: 5px;
  }

  .separator {
    height: 1px;
    background-color: #9ca2ae;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .submenu {
    display:flex;
    gap: 5px;
    padding-top: 10px;
    flex-direction: column;
  }
  

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  *:hover {
    cursor: pointer;
    color: #fff;
  }