.breadcrumb {
    display: flex;
    align-items: center;
    font-size: 14px;
  
    .icon {
      margin-right: 10px;
      width: 24px;
      height: 24px;
    }
  
    .path {
      color: #9ca2ae;
    }

    background-color: #1f2b36;
    border-radius: 5px;
    padding: 15px;
    width: fit-content;
}
